{% extends "ciboulai.html" %}
{% load static %}
{% block appTitle %}
  <title>{{exp.xpid}}</title>
{% endblock %}



{% block mainContainer %}
<div id='content'>
<div class='row bg-light'>
	<div class="col-md-6 text-center" style="border: 5px solid;padding: 34px;">
		<h2><strong><a href="/davai/lightView/{{exp.pk}}">{{exp.xpid}}</a></strong> <a class="btn btn-primary ml-4" href="#" data-toggle="modal" data-target="#xpinfoDetail" ><i class="fas fa-fw fa-plus"></i></a></h2><h3><small>{{xpinfo | get_item:"comment" | safe }}</small></h3></div>
<div class='col-md-6'>
  <table class="table text-center">
	  <thead>
      <th scope="col"><button value="OK" class='btn btn-success filterClick'>OK</button></th>
      <th scope="col"><button value="KO" class='btn btn-danger filterClick'>KO</button></th>
      <th scope="col"><button value="Crashed" class='btn btn-outline-danger filterClick'>Crashed</button></th>
      <th scope="col"><button value="?" class='btn btn-warning filterClick'>?</button></th>
      <th scope="col"><button  class='btn btn-secondary'>NC</button></th>
      </tr>
  </thead>
  <tbody>
    <tr>
      {{exp.symbolSummary_ok| safe }}
      {{exp.symbolSummary_ko| safe }}
      {{exp.symbolSummary_cr| safe }}
      {{exp.symbolSummary_tc| safe }}
      {{exp.symbolSummary_nc| safe }}
   
    </tr>
   </tbody>
  </table>
</div>
</div>

<div class='row bg-light' style="border-bottom: 5px solid;">
    <div class='col-md-6'>
	    <ul class='list-unstyled' style="line-height: 200%;"><strong>
<li class='row'><span class='col-md-2'>ial_git_ref:</span><span class='offset-md-1 col-md-9'> {{xpinfo | get_item:"ial_git_ref" | safe }} </span></li>
<li class='row'><span class='col-md-2'>usecase:</span><span class='offset-md-1 col-md-9'> {{xpinfo | get_item:"usecase" | safe }} </span></li>
  {% if exp.reference is None  %}
<!-- <li class='row'><span class='col-md-2'>ref_xpid:</span><span class='offset-md-1 col-md-9'>No reference</span></li> -->
<li class='row'><span class='col-md-2'>ref_xpid:</span><span class='offset-md-1 col-md-9'>{{xpinfo | get_item:"ref_xpid" | safe }} </span></li>
  {% else %}
  <li class='row'><span class='col-md-2'>ref_xpid:</span><span class='offset-md-1 col-md-9'><a href="/davai/lightView/{{exp.reference.pk}}">{{exp.reference}}</a></span></li>
  {% endif %}
<li class='row'><span class='col-md-2'>ref_vconf:</span><span class='offset-md-1 col-md-9'>{{xpinfo | get_item:"ref_vconf" | safe }} </span></li>
<li class='row'><span class='col-md-2'>tests_version:</span><span class='offset-md-1 col-md-9'>{{xpinfo | get_item:"tests_version" | safe }} </span></li>
		    </strong></ul>
    </div>
    <div class='col-md-6'>
     <ul class='list-unstyled'>
       {% for i in headenv %}
         {% if i == "input_shelf_global" %}
         <hr />
         {% endif %}
         
         <li class='row'><a class="btn-sm btn-primary ml-4" href="#" data-toggle="modal" data-target="#{{i}}Detail" ><i class="fas fa-fw fa-plus"></i></a> <span class='col-md-2'>{{i}}:</span><span class='offset-md-1 col-md-8'> {{xpinfo | get_item:i | safe }}</span></li>
       {% endfor %}
     </ul>
    </div>
</div>

<p>{{notes | length}} notes on <a href="/davai/lightView/{{exp.pk}}">{{exp.xpid}}</a><a  href="#"  data-value="XP" class='btn btn-default writeNote' data-toggle="modal" data-target="#writeNoteModal"><i data-toggle="tooltip" data-placement="top" title="" data-original-title="Leave a global comment about this experiment!" class="fas fa-fw fa-pencil-alt"></i>&nbsp;</a></p><p>{{notes | note_btn:"XP" | safe }}</p>
  <div class="card p-3">
    <p>Quick filters</p>
    <div>
      <button value="Ended" class="btn btn-outline-success filterClick">Ended</button>
	  <button value="Crashed" class="btn btn-outline-danger filterClick">Crashed</button>
	  <button value="OK" class="btn btn-success filterClick">OK</button>
	  <button value="KO" class="btn btn-danger filterClick">KO</button>
	  <button value="! Comp Issue !" class="btn btn-orange filterClick">!</button>
	  <button value="? Unknown ?" class="btn btn-warning filterClick">?</button>
	  <button value="" class="float-right btn btn-secondary filterSave" data-toggle="modal" data-target="#saveFilterModal" ><i class='fas fa-save fa-fw'></i>Save filters</button>
	  <button value="" class="float-right btn btn-primary filterClick"><i class='fas fa-times fa-fw'></i>Reset filters</button>
    </div>
	<div id="accordion_filter" class="mb-3 mt-3">
	  <div class="card">
	    <div >
	      <div class="card-body">
                 {% for i in filterClick %}
		  <button value="{{i}}" class="btn filterClick">{{i}}</button>
                 {% endfor %}
	      </div>
	    </div>
	  </div>
	</div>    
    

  <table id="tableview1" class="table table-hover">
	  <thead>
	    <tr>
	        {% for key,text in headers %}
			    <th scope="col"><span data-toggle="tooltip" data-placement="top" title="" data-original-title="{{text}}">{{key}}</span></th>
			{% endfor %}
	      
	    </tr>
	  </thead>
	  <tbody>
		{% for key, value in globalDico.items %}
	    <tr class=''>
	      <td><a data-toggle="modal" data-target="#taskDetail_{{forloop.counter}}" class="ajaxDetail" id="ajaxDetail_{{forloop.counter}}" href="#" data-id="ajaxDetail_{{forloop.counter}}" >{{key}}</a> <a href="/davai/taskView/{{key.pk}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="view the same task in other experiments" ><i class='fas fa-database fa-fw'></i></a>
	      <a  href="#"  data-value="{{key}}" class='btn btn-default writeNote' data-toggle="modal" data-target="#writeNoteModal"><i data-toggle="tooltip" data-placement="top" title="" data-original-title="Leave a comment about this task!" class="fas fa-fw fa-pencil-alt"></i>&nbsp;</a>
	      {{notes | note_btn:key.name | safe}}

	      
	      </td>
	      <td>{{value.itself.Updated| dateUpdate | safe}}</td>
	      <td>{{value.itself.Status | status_btn:forloop.counter | safe}}</td>
	      <td>{{value.continuity.comparisonStatus | compStatus_btn:forloop.counter | safe  }}</td>
	      <td>{{value.consistency.comparisonStatus | compStatusOrVoid_btn:forloop.counter | safe  }} </td>
	      

	      <td>
	          <strong>{{value.continuity | leadExpertDescription}}</strong><br>
	          {{value.continuity.leadExpert}}
	      </td>
	      <td>{{value.continuity | leadExpertValue}} </td>
	     <!-- <td>{{value.continuity.drHookMax | getDrHookRelDiff:"Relative diff in Elapse time" | safe}} </td> -->
	      <td>{{value.continuity.rss | getDrHookRelDiff:"Relative RSStotal diff" | safe }} </td>
	      

  
	
	    </tr>	  
	    {% endfor %}   
	  </tbody>
	</table>   
    </div>  

  
  </div>
</div>

{% for key, value in globalDico.items %}
<div class="modal taskDetail fade" id='taskDetail_{{forloop.counter}}'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{key}}: task details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="tabbable"> <!-- Only required for left/right tabs -->
			<ul class="nav nav-tabs">
			  <li class="nav-item">
			    <a class="nav-link active" data-toggle="tab" href="#taskDetailTab1_{{forloop.counter}}">itself</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" href="#taskDetailTab2_{{forloop.counter}}">continuity</a>
			  </li>
			  <li class="nav-item">
			    <a id="navTaskDetailTab3_{{forloop.counter}}" class="nav-link d-none" data-toggle="tab" href="#taskDetailTab3_{{forloop.counter}}">consistency</a>
			  </li>
			</ul>
			<div class="tab-content">
			  <div class="tab-pane fade active show" id="taskDetailTab1_{{forloop.counter}}">
    		  </div>
			  <div class="tab-pane fade" id="taskDetailTab2_{{forloop.counter}}">
			  </div>
			  <div class="tab-pane fade" id="taskDetailTab3_{{forloop.counter}}">
			  </div>
			</div>      
		
		</div>
      </div>
    </div>
  </div>
</div>

{% endfor %}  



{% for i in headenv %}
<div class="modal fade" id='{{i}}Detail'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{xpinfo | get_item:i}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class='text-warning'>Warning, this list has been generated during xpinfo task. <br>
        If you have modified you cycle after playing it, the informations there may be outdated...</p>
                {{xpinfo | get_itemdetails:i | safe}}
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="modal fade" id='xpinfoDetail'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">xpinfo details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
      {% for key in xpinfoKeys %}
      <div class='row'>
	      <div class='col-sm-4'>
	      {{key}}
	      </div> 
	      <div class='col-sm-8'>
	      {{xpinfo| get_item:key |safe}}
	      </div>       
      </div> 

      {% endfor %}      
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id='writeNoteModal'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Write a note on this task</h5>
        <button id='closeNote' type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You are about to write a note (a comment) that will be saved into the database</p>
        <p>XPID: <strong>{{exp.xpid}}</strong></p>
        <p>TASK: <strong id='noteTask'></strong></p>
        <div class="form-group">
          <label for="exampleTextarea">your comments here...</label>
          <textarea class="form-control" id="noteTextarea" rows="10"></textarea>
        </div>        
      </div>
      <div class="modal-footer">
	        <button id="inputNotebtn" type="button" class="btn btn-primary">Save</button>
	  </div>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id='saveFilterModal'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Save filter inside url</h5>
        <button id='closeNote' type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
	      <input class="form-control" id="readOnlyInput" type="text" placeholder="" readonly="">
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/tether.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script> 
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script> 

<script>
$(document).ready( function () {
	
		$('.writeNote').click(function () {
			var task=$(this).data('value');
			$('#noteTask').text(task);
		});	
	    $('#inputNotebtn').click(function () {
	    	var xpid = "{{exp.xpid}}";
	    	var task = $('#noteTask').text();
	    	var message = $('#noteTextarea').val();
	        $.ajax({
			url: '/davai/addNote/',
	            data: {
	              'xpid': xpid,
	              'task':task,
	              'message':message,
	            },
	            dataType: 'json',
	            success: function (data) {
	              if (data.error) {
	                  
	                  alert(data.error);
	              }        
	              if (data.message) {
	            	  alert(data.message);
	            	  $('#closeNote').click();
	              }
	            }
	          });   
	    });
	    
		var table1=$('#tableview1').DataTable({		
			 "lengthMenu": [[-1], [ "All"]],
			 fixedHeader: true,
		  "language": {
			    "zeroRecords": "No tasks corresponding to request",
			    "search": "Filter",
			  } ,
			"order": [[ 1, "desc" ]],
		});  
		var tables=$('.customTables').DataTable({		
			 "lengthMenu": [[-1], [ "All"]],
			 fixedHeader: true,
		  "language": {
			    "zeroRecords": "No tasks corresponding to request",
			    "search": "Filter",
			  } ,
			"order": [[ 0, "asc" ]],
		});  
		$('.filterClick').click(function () {
			var filter = $(this).prop('value');
			table1.search( filter ).draw();
		});	
	        $('.filterSave').click(function () {
		    var url=window.location.href.split('?')[0];
		    $("#readOnlyInput").val(url+'?filter='+$("#tableview1_filter input").val());
		});
		var url = new URL($(location).attr('href'));
		var filterArg = url.searchParams.get("filter");
	        if(filterArg){
			table1.search( filterArg ).draw();
		};
		$('.ajaxClickDetail').click(function () {
			var modalId = $(this).prop('id').split('_')[1];
			var tabid = $(this).attr('data-tabid');

			$("#ajaxDetail_"+modalId).click();
                        $("#taskDetail_"+modalId+" .nav-tabs  li:nth-child("+tabid+") a").click();

		});
		$('.ajaxDetail').click(function () {
			var modalId = $(this).prop('id').split('_')[1];
			$('body').addClass('cursorWait');
	        $.ajax({
			url: '/davai/ajaxLoadModal/',
	            data: {
	              'ciboulexpId': {{exp.pk}},
	              'modalId':modalId,
	            },
	            dataType: 'json',
	            success: function (data) {
	              if (data.error) {
	                  alert(data.error);
	              }else{        
	            	  $("#taskDetailTab1_"+modalId).html(data.reponse.itself);
	            	  $("#taskDetailTab2_"+modalId).html(data.reponse.continuity);
			  if(data.reponse.consistency){
	                    $("#navTaskDetailTab3_"+modalId).removeClass("d-none");
	                    $("#taskDetailTab3_"+modalId).html(data.reponse.consistency);
			  }
                      var tables=$('#taskDetailTab1_'+modalId+' .customTables').DataTable({
                          "lengthMenu": [[-1], [ "All"]],
                         fixedHeader: true,
                 "language": {
                      "zeroRecords": "No tasks corresponding to request",
                      "search": "Filter",
                    } ,
                  "order": [[ 0, "asc" ]],
                 });
                   var tables=$('#taskDetailTab2_'+modalId+' .customTables').DataTable({
                          "lengthMenu": [[-1], [ "All"]],
                         fixedHeader: true,
                 "language": {
                      "zeroRecords": "No tasks corresponding to request",
                      "search": "Filter",
                    } ,
                  "order": [[ 0, "asc" ]],
                 });
			$('body').removeClass('cursorWait');

	              }
	            }
	          });   		
	        });
	});

</script>

{% endblock %}

    
      

</body>

</html>
